<header class="header">
    <div class="header-box">
        <a href="#" class="logo"><img src="img/logo.svg" alt=""></a>
        <ul class="menu">
            <li><a href="#">Контрагенты</a></li>
            <li><a href="#">Планировщик</a></li>
            <li><a href="#">Статистика</a></li>
        </ul>
        <div class="profile">
            <div class="profile-name">
                <b>User Name</b>
                <span>description</span>
            </div>
            <div class="profile-image">
                <img src="img/logo.svg" alt="">
            </div>
            <div class="profile-hide">
                <a href="#" class="lk-link">Личный кабинет</a>
                <a href="#" class="settings-link">Настройки</a>
                <a href="#" class="note-link">Уведомления</a>
                <a href="#" class="log-out-link">Выход</a>
            </div>
        </div>
    </div>
</header>